/*// extra-Small devices (landscape phones, 320px and up)*/
@media (max-width: 575px) {
  

}

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px) {
  

}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 991px) {
    .common_btn {
        margin-left: 0px;
        margin-top: 8px;
        text-align: center;
    }
    .login_btn {
        margin-left: 0px;
    }
    #header_part .navbar-toggler {
        border: none;
    }
    #header_part .navbar-toggler:hover {
        box-shadow: none;
    }
    .menu .nav-item .nav-link{
        position: relative;
    }
    .menu .nav-item .nav-link::after{
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    }

}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 1199px) {}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (max-width: 1399px) {}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {}
